* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fira Sans";
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  font-size: calc(15px + 0.390625vw);
}


/*first section*/
header {
  width: 100%;
  background-color: #3DE07E;
  font-size: calc(60px + 0.390625vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navButton {
  background-color: inherit;
  border: none;
  align-self: flex-start;
  margin: 4vh;
}

header p {
  align-self: center;

}

#ninjahead {
  width: 20vw;
  align-self: center;
}

.varor {
  padding-top: 5vh;
  background-color: black;
}

.varor>p {
  font-size: calc(22.5px + 0.390625vw);
  color: white;
  margin-bottom: 1vh;
  margin-left: 15vw;
}

.all-varors {
  margin-left: 15vw;
  margin-right: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  background-color: rgb(0, 0, 0);
}

.first_photo {
  display: grid;
  grid-template-rows: 70% 15% 15%;
  background-color: white;
}

.taBort1 {
  background-color: #E83F57;
  color: rgb(21, 16, 16);
  width: 50%;
  color: white;
  margin-left: 1vw;
  padding: 0.7vw;
  align-self: center;

}

.first_photo>p {
  color: #000000;
  font-size: calc(18px + 0.390625vw);
  padding-left: 1vw;
  align-self: center;
  font-size: 3vw;

}

#foto {
  width: 100%;
  height: 100%;
}


.second_photo {
  display: grid;
  grid-template-rows: 70% 15% 15%;
  background-color: white;

}

#tränare {
  width: 100%;
  height: 100%;

}

.second_photo>p {
  color: #000000;
  padding-left: 1vw;
  align-self: center;
  font-size: 3vw;


}

.first {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: rgba(237, 54, 54, 0.2);
  color: rgba(238, 238, 238, 0.8);
}

.second {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin-left: 15vw;
  margin-right: 15vw;
  color: white;
}

.third {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin-left: 15vw;
  margin-right: 15vw;
  color: white;
}

.border {
  margin-top: 1vw;
  border: 2px solid white;
  margin-left: 15vw;
  margin-right: 15vw;
}

.fourth {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: "totalt . number";
  color: white;
  margin-left: 15vw;
  margin-right: 15vw;
  color: white;
}

.antals{
  padding-left: 2vw;
}

.fourth p:nth-of-type(2) {
  grid-area: number;
}

.gimmie {
  padding: 1vw;
  background-color: #E83F57;
  color: white;
  margin-top: 2vh;
  margin-left: 60vw;
  margin-right: 15vw;
  width: 24vw;
  margin-bottom:5vh;



}

footer {
  background-color: gray;

}

.allFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.footerFirst {
  margin-top: 5vh;
}


.footerFirst p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerSec p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerthird p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerSec {
  margin-top: 5vh;
  padding-right: 2vw;

}

.footerthird {
  margin-top: 5vh;

}

@media screen and (max-width: 481px) { /* tablet */
  header{
    font-size:calc(45px + 0.390625vw);
  }

  .taBort1 {
    font-size:calc(12px + 0.390625vw);
    width: 80%;
    color: white;
    margin-left: 1vw;
    padding: 0.2vw;
    align-self: center;
  }

  .first_photo>p {
    font-size: calc(12px + 0.390625vw);
  }

  .second_photo>p{
    font-size: calc(12px + 0.390625vw);
  }
  footer{
    font-size: calc(12px + 0.390625vw);

  }
  .footerFirst p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }

  .footerSec p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }

  .footerthird p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }
  .footerthird {
    padding-right: 15vw;
  }
}

/* 
.allFooter {
  display: grid;
  padding-right: 15vw;
  padding-left: 15vw;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  height: 35vh;
  color: white;
  background-color: rgb(106, 101, 101);
  padding-top: 5vh;
}

.footerFirst {
  display: grid;
  grid-template-rows: 20% 10% 10% 10%;
}

.footerFirst p:nth-of-type(1) {
  font-size: calc(21px + 0.390625vw);
}

.footerSec {
  display: grid;
  grid-template-rows: 20% 10% 10%;

}

.footerSec p:nth-of-type(1) {
  font-size: calc(21px + 0.390625vw);

}

.footerthird {
  display: grid;
  align-items: center;
  grid-template-rows: 20% 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas: "social social social social"
    "twit face linke insta";
}

.footerthird p:nth-of-type(1) {
  font-size: calc(21px + 0.390625vw);
  grid-area: social;
  height: 100%;
}

#twitter {
  grid-area: twit;
}

#facebook {
  grid-area: face;

}

#linkedin {
  grid-area: linke;
}

#insta {
  grid-area: insta;

}

 */
/* .table {
  margin-top: 5vh;
  height: 40vh;
  color: white;
  display: grid;
  margin-left: 25vw;
  margin-right: 25vw;
  grid-gap: 1px;
} */



/*   grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 10% 10%;
  grid-template-areas: "vara antal pris"
    "fotograf ant1 sek1"
    "Crossfit ant2 sek2"
    ". . ."
    "Totalt . sek3";
    --border: 2px solid white;

} */

/* .table p:nth-of-type(3),
.table p:nth-of-type(2),
.table p:nth-of-type(1) {
  background-color: rgba(237, 54, 54, 0.2);
  color: rgba(238, 238, 238, 0.2);
  align-self: center;

} */

/* .table p:nth-of-type(4) {
  grid-area: fotograf
}

.table p:nth-of-type(5) {
  grid-area: ant1
}

.table p:nth-of-type(6) {
  grid-area: sek1
}

.table p:nth-of-type(7) {
  grid-area: Crossfit;
  border-bottom: var(--border);

}


.table p:last-of-type {
  grid-area: sek3;
}

.table p:nth-of-type(8) {
  grid-area: ant2;
  border-bottom: var(--border);

}

.table p:nth-of-type(9) {
  grid-area: sek2;
  border-bottom: var(--border);

}



.gimmie {
  margin: 2vh;
} */