* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  font-size: calc(15px + 0.390625vw);

}

header {
  width: 100%;
  background-color: #3DE07E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navButton {
  background-color: inherit;
  border: none;
  align-self: flex-start;
  margin: 4vh;
}

#ninjahead {
  width: 20vw;
  align-self: center;
}


header p {
  align-self: center;
  font-size: calc(60px + 0.390625vw);
}

.allPost img {
  width: 100%;

}

.allPost {
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;

}

.first-section {
  background-image: url("./poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.navButton {
  background-color: inherit;
  border: none;
  margin: 4vh;
}


.firstGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  margin-top: 15vh;
  margin-bottom: 15vh;

}


.firstPost {
  color: white;
}

.secondPost {
  color: white;
}

.lorem {
  font-size: calc(12px + 0.390625vw);
  margin-left: 0.5vw;

}

.thirdPost {
  color: white;
}

.rubrik {
  font-size: calc(22px + 0.390625vw);
  margin-bottom: 1vh;
  margin-left: 0.5vw;
}

.secondGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  color: white;
  margin-bottom: 15vh;

}

.thirdGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  color: white;
  margin-bottom: 15vh;

}

.fourthGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  color: white;
  margin-bottom: 15vh;


}

.tenthPost {
  background-color: white;
  color: black;
}

.eleventhPost {
  background-color: white;
  color: black;
}

.takeMe {
  margin-top: 2vh;
  padding: 1vh;
  text-align: center;
  background-color: #E83F57;
  color: white;

}

.tenthPost>.takeMe {
  margin-left: 1vw;
}

.eleventhPost>.takeMe {
  margin-left: 1vw;
}

footer {
  background-color: gray;

}

.allFooter {
  display: grid;
  padding-right: 5vw;
  padding-left: 5vw;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.footerFirst {
  margin-top: 5vh;
}


.footerFirst p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerSec p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerthird p:nth-of-type(1) {
  font-size: calc(22.5px + 0.390625vw);
  margin-bottom: 1vh;
}

.footerSec {
  margin-top: 5vh;
  padding-right: 2vw;

}

.footerthird {
  margin-top: 5vh;

}
@media screen and (max-width: 481px) { /* tablet */
  header{
    font-size:calc(45px + 0.390625vw);
  }

  .firstGroup {
    grid-template-columns: 1fr;
    margin-bottom:0.7vh;
    margin-top:5vh ;

  }
  .secondGroup{
    grid-template-columns: 1fr;
    margin-bottom:0.7vh;
  }
  .thirdGroup{
    grid-template-columns: 1fr;
    margin-bottom:0.7vh;

  }
  .fourthGroup{
    grid-template-columns: 1fr;
    margin-bottom:5vh;

  }
  footer{
    font-size: calc(12px + 0.390625vw);

  }
  .footerFirst p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }

  .footerSec p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }

  .footerthird p:nth-of-type(1) {
    font-size: calc(17px + 0.390625vw);
  }
  .footerthird {
    padding-right: 15vw;
  }
}


  


@media screen and (max-width: 750px){
  .rubrik {
    font-size: calc(18px + 0.390625vw);

  }
}
@media screen and (max-width: 586px){
  .rubrik {
    font-size: calc(15px + 0.390625vw);

  }
}